<div class="row">
  <div class="col col-xs-6 col-sm-6 col-md-6 ">
    <%= button_to submit_note_path(instrument: @instrument, note: "0"), class: "note instrument-#{@instrument} note-0", remote: true do %><% end %>
  </div>
  <div class="col col-xs-6 col-sm-6 col-md-6">
    <%= button_to submit_note_path(instrument: @instrument, note: "1"), class: "note instrument-#{@instrument} note-1", remote: true do %><% end %>
  </div>
</div>
<div class="row">
  <div class="col col-xs-6 col-sm-6 col-md-6">
    <%= button_to submit_note_path(instrument: @instrument, note: "2"), class: "note instrument-#{@instrument} note-2", remote: true do %><% end %>
  </div>
  <div class="col col-xs-6 col-sm-6 col-md-6">
    <%= button_to submit_note_path(instrument: @instrument, note: "3"), class: "note instrument-#{@instrument} note-3", remote: true do %><% end %>
  </div>
</div>
<div class="row">
  <div class="col col-xs-6 col-sm-6 col-md-6">
    <%= button_to submit_note_path(instrument: @instrument, note: "4"), class: "note instrument-#{@instrument} note-4", remote: true do %><% end %>
  </div>
  <div class="col col-xs-6 col-sm-6 col-md-6">
    <%= button_to submit_note_path(instrument: @instrument, note: "5"), class: "note instrument-#{@instrument} note-5", remote: true do %><% end %>
  </div>
</div>