<div class="row">
  <div class="col col-xs-6 col-sm-6 col-md-6 ">
    <%= button_to submit_note_path(instrument: "drum", note: "0"), class: "note guitar note-0", remote: true do %><% end %>
  </div>
  <div class="col col-xs-6 col-sm-6 col-md-6">
    <%= button_to submit_note_path(instrument: "drum", note: "0"), class: "note guitar note-1", remote: true do %><% end %>
  </div>
</div>
<div class="row">
  <div class="col col-xs-6 col-sm-6 col-md-6">
    <%= button_to submit_note_path(instrument: "drum", note: "0"), class: "note guitar note-2", remote: true do %><% end %>
  </div>
  <div class="col col-xs-6 col-sm-6 col-md-6">
    <%= button_to submit_note_path(instrument: "drum", note: "0"), class: "note guitar note-3", remote: true do %><% end %>
  </div>
</div>
<div class="row">
  <div class="col col-xs-6 col-sm-6 col-md-6">
    <%= button_to submit_note_path(instrument: "drum", note: "0"), class: "note guitar note-4", remote: true do %><% end %>
  </div>
  <div class="col col-xs-6 col-sm-6 col-md-6">
    <%= button_to submit_note_path(instrument: "drum", note: "0"), class: "note guitar note-5", remote: true do %><% end %>
  </div>
</div>