<div class="row" id="pads">
  <div class="col col-xs-6 col-sm-6 col-md-6 ">
    <button class="note instrument-<%= @instrument %> note-0" onclick="privateChannel.trigger('client-note_played', { instrument: '<%= @instrument %>', note: '0', time: window.xDelta, decay: window.yDelta}); return false;"></button>
  </div>
  <div class="col col-xs-6 col-sm-6 col-md-6">
    <button class="note instrument-<%= @instrument %> note-1" onclick="privateChannel.trigger('client-note_played', { instrument: '<%= @instrument %>', note: '1', time: window.xDelta, decay: window.yDelta}); return false;"></button>
  </div>
  <div class="col col-xs-6 col-sm-6 col-md-6">
    <button class="note instrument-<%= @instrument %> note-2" onclick="privateChannel.trigger('client-note_played', { instrument: '<%= @instrument %>', note: '2', time: window.xDelta, decay: window.yDelta}); return false;"></button>
  </div>
</div>
<div class="row">
  <div class="col col-xs-6 col-sm-6 col-md-6">
    <button class="note instrument-<%= @instrument %> note-3" onclick="privateChannel.trigger('client-note_played', { instrument: '<%= @instrument %>', note: '3', time: window.xDelta, decay: window.yDelta}); return false;"></button>
  </div>
  <div class="col col-xs-6 col-sm-6 col-md-6">
    <button class="note instrument-<%= @instrument %> note-4" onclick="privateChannel.trigger('client-note_played', { instrument: '<%= @instrument %>', note: '4', time: window.xDelta, decay: window.yDelta}); return false;"></button>
  </div>
  <div class="col col-xs-6 col-sm-6 col-md-6">
    <button class="note instrument-<%= @instrument %> note-5" onclick="privateChannel.trigger('client-note_played', { instrument: '<%= @instrument %>', note: '5', time: window.xDelta, decay: window.yDelta}); return false;"></button>
  </div>
</div>
<!-- <div class="row">
  
</div> -->

<canvas style="display:none" id="surface"/>

<script type="text/javascript">
  var pusher = new Pusher("<%= ENV['PUSHER_KEY'] %>");

  //$('.page-wrap').addClass('<%= @wrapper_class %>');

  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };

  //change to presenceChannel (see listen.html.erb)

  var privateChannel = pusher.subscribe('presence-notes');
  privateChannel.bind('pusher:subscription_succeeded', function() {
    //console.log("subscribed");
  });






</script>

<!-- <a href="#" onclick="privateChannel.trigger('client-note_test', { instrument: '0', note: '0'}); return false;">TEST</a> -->