<!DOCTYPE html>
<html>
<head>
  <title>Jam Sesh</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", "//js.pusher.com/2.1/pusher.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page-wrap">
	<img src="<%= asset_path('bg-1.jpg') %>" alt="Jamsesh" id="full-bg">
	<div class="container">
	  <img src="<%= asset_path('logo.png') %>" alt="Jamsesh" class="logo">
	  <%= yield %>
	</div>
</div>

</body>
</html>
